<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SPARQL FEDERATED ENGINE</title>
    <link
      href="https://cdn.jsdelivr.net/g/yasqe@2.2(yasqe.min.css),yasr@2.4(yasr.min.css)"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    
    <div class="container">
        <a href="https://cogito-project.eu/"><img src="/logo/logo.jpg" width="500" alt="COGITO logo" class="img-rounded center"></a>
        <table class="tb" id="members">
            <tr>
              <th colspan="2">Endpoints</th>
            </tr>
            <tr>
              <td>https://data.cogito.iot.linkeddata.es/sparql</td>
              <td>https://wothive.linkeddata.es/api/search/sparql</td>
            </tr>
          </table>
    </div>

    <p></p>

    <div class="container">
      <div id="yasqe"></div>
      <div id="yasr"></div>
    </div>

    <p>&nbsp;</p> 
    <p></p> 
    <div class="container">
        <div class="row">
            <div class="col-md-10">
            Developed by <a href="http://oeg-upm.net" target="_blank">Ontology Engineering Group</a>
            <br>
            Built with <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
            Icons from <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>
            <br>
            Latest revision February, 2022
            <br>
            <p>&copy; Ontology Engineering Group</p>
            </div>
            <div class="col-md-2">
            <a href="https://oeg.fi.upm.es/" target="_blank"><img src="/logo/logo.gif" alt="OEG logo" class="img-rounded"
                class="img-responsive" width="30%" /></a>

            <a href="http://fi.upm.es/" target="_blank"><img src="/logo/fiLogo.png" alt="FI logo" class="img-rounded"
                class="img-responsive" width="30%" /></a>

            <a href="https://www.upm.es/" target="_blank"><img src="/logo/upmlogo.png" alt="UPM logo" class="img-rounded"
                class="img-responsive" width="30%" /></a>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/yasr/2.4/yasr.bundled.min.js"></script>
    <script src="https://cdn.jsdelivr.net/yasqe/2.2/yasqe.bundled.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
